/* Place your extensions here to make migration to a new release easier. */

body .p-datatable .p-sortable-column.p-highlight {
    background-color: #00AFA9;
    color: #ffffff;
}

body .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: #00AFA9;
    color: #ffffff;
}

.
 {
    width:"100%"; 
   text-align:right;
    padding-bottom: 5px;
}